
.scroll {
    height: 100%
  }

  #map {
    width: 100%;
    height: 400px;
    background-color:lightblue;
  }
  .toolbar-title-ios
{
       color : #543763 ;
   }
   ion-label{
    color : #543763 ;
   }